/* .mw-ext-linkedwiki-value-equal {} */
/* .mw-ext-linkedwiki-new-value {} */
.mw-ext-linkedwiki-tooltip {
	position: relative;
}

.mw-ext-linkedwiki-tooltip::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	display: block;
	border-left: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-top: 15px solid #f00;
}

/* example */
.mw-ext-linkedwiki-image img {
	max-width: 200px;
	max-height: 200px;
}
